# Dependencias
/payroll-app-frontend/node_modules
/payroll-app-backend/node_modules

# Archivos de caché y logs
/payroll-app-frontend/dist
/payroll-app-frontend/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno (¡MUY IMPORTANTE!)
.env
.env*.local
/payroll-app-backend/.env

# Archivos de sistema operativo
.DS_Store
Thumbs.db